language: node_js
node_js:
  - "11.10.1"

env:
  global:
    - CC_TEST_REPORTER_ID=238d53194f20137e4f7a5c35154d0b7b5dd802dc9b05e3ffb81c311d61f8392b
  matrix:
    - REACT=16.7

cache:
  directories:
    - node_modules
install:
  - npm install

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - curl -L
    https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
    > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - npm run coverage
  - npm run test
  - npm run coveralls

after_success:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
